.portada {
	background: linear-gradient(to left, #287aff, #943dff); 
	background-size: cover;
	padding-bottom: 200px;
	color: white;
}

.portada a {
	color: white !important;
}

.navbar {
	background: #2b2b2b;
	border-color: transparent;
	font-size: 20px;
	padding: 1px;
	margin: 0px;
}
.navbar a {
	color: white !important;
}

.navbar-brand img {
	margin-top: -9px !important;
}

.titulo {
	font-size: 50px;
}

.title-a {
	font-size: 30px;
}

.juniotitle {
	margin: -30px 53px;
	font-size: 30px;
	font-family: 'Lobster', sans-serif;
}

.presentation {
	margin-top: 100px;
}

.david {
	border-radius: 40px;
}

.description {
	margin-top: 50px;
}

.sobre-david {
	padding: 60px;
	margin: 50px 0 50px;
	/*border: 1px solid #2b2b2b;*/
	/*overflow: hidden;*/
}

.title-b {
	font-size: 60px;
	margin-bottom: 15px;
	font-family: Allerta;
}

.page-header {
	margin: 0 0 20px;
	border-bottom: 1px solid #2b2b2b;
	padding-bottom: 15px;
}
.footer {
	background: #2b2b2b !important;
	padding:50px 0 50px 0;
}

.contacto {
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
}

.contacto img {
	display: block;
	margin-top: 20px;
}

.contacto strong {
	display: block;
}

.contacto a {
	color: white;
	text-decoration: none;
	margin: 20px 10px 10px 40px;
}

.form-dj {
	color: white !important;
}

.button {
	border-radius: 12px;
	background: #008187;
	border: none;
	padding: 8px 12px;
	color: white;
	margin-top: 10px;
	cursor: pointer;
	font-size: 18px;
	text-decoration: none;
	background: linear-gradient(to left, #008d81, #00758d); 
}